.create {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-first-info{
    display: flex;
    margin-right: auto;
    margin-bottom: -5vh;
    width: 35vw;
}

.h2-create-title {
  margin-right: auto;
  padding: 10px;
  font-family: "Press Start 2P";
  color: white;
}
.strong-count-create{
  font-family: "Press Start 2P";
  color: #ECD894;
}

.create-div {
  width: 35vw;
  height: 70vh;
  border-radius: 24px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.form-data {
  margin-top: 4%;
}

.form-send-data {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.div-for-option {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-label{
    font-size: 1.2vw;
  font-family: "Press Start 2P";
}

.form-input-label-div {
  display: flex;
  flex-direction: column;
}

.form-textarea-create {
  width: 30vw;
  height: 10vh;
  font-size: 2vh;
  font-family: "Press Start 2P";
  resize: none;  
  background-color: #CBCDEA;
  border: 1px solid #8D91DD;
  border-radius: 5px;
  outline: none;
  line-height: 2rem;
  margin-bottom: 2vh;
  padding: 4px 8px;
}

.form-input-option-create {
    width: 10vw;
    height: 4vh;
    font-size: 1.3vh;
    font-family: "Press Start 2P";
    background-color: #CBCDEA;
    border: 1px solid #8D91DD;
    border-radius: 5px;
    outline: none;
    line-height: 2rem;
    margin-bottom: 2vh;
    padding: 4px 8px;
  }
  
  .form-checkbox {
    margin-top: 5%;
    margin-left: 4%;
    width: 1.5vw;
  }

.form-input-create {
  width: 20vw;
  height: 4vh;
  font-size: 1.4vh;
  font-family: "Press Start 2P";
  background-color: #CBCDEA;
  border: 1px solid #8D91DD;
  border-radius: 5px;
  outline: none;
  line-height: 2rem;
  margin-bottom: 2vh;
  padding: 4px 8px;
}

.button-form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid rgba(96, 102, 208, 0.7);
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, rgba(96, 102, 208, 0.7) 4px 4px 0 1px;
  color: rgba(96, 102, 208, 0.8);
  cursor: pointer;
  font-family: "Press Start 2P";
  font-weight: 400;
  font-size: 1vw;
  line-height: 20px;
  margin: 0 5px 10px 0;
  text-align: center;
  transition: 0.5s;
}

.button-form-submit:hover {
  background-color: #7d82d9;
  color: white;
}

@media (max-width: 800px) {
  .div-first-info{
      width: 100vw;
      margin-bottom: auto;
      padding-left: 5vw;
      margin: 0%;
  }
  
  .h2-create-title {
    width: 50vw;
    font-size: 4vw;
  }

  .div-count-create{
    margin-right: auto;
  }

  .strong-count-create{
    font-size: 5vw;
  }
  
  .create-div {
    width: 80vw;
    height: 60vh;
    margin-top: 0vh;
    padding: 5vw;
  }
  
  .form-data {
    margin-top: 4%;
  }
  
  .form-send-data {
    margin-bottom: 2%;
  }
  
  .form-label{
      font-size: 3vw;
  }
  
  .form-textarea-create {
    width: 70vw;
    height: 15vh;
    font-size: 2vh;
    margin-bottom: 1vh;
    padding: 4px 8px;
  }
  
  .form-input-option-create {
      width: 25vw;
      height: 4vh;
      font-size: 1vh;
      margin-bottom: 1vh;
    }
    
    .form-checkbox {
      margin-top: 5%;
      margin-left: 4%;
      width: 5vw;
    }
  
  .form-input-create {
    width: 60vw;
    height: 4vh;
    font-size: 1.3vh;
    margin-bottom: 1vh;
  }
  
  .button-form-submit {
    font-size: 4vw;

  }

}
