.footer {
  margin-top: 1%;
  margin-left: 0%;  
  left: 0;
  right: 0;
  color: white;
  padding: 10px;
}

.credits{
  margin-left: 0%;
}

@media (max-width: 770px) {
  .div-credits-footer {
    margin-top: 40vh;
  }
}
